/* reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  font-family: sans-serif;
  font-size: 100%;
  color: #222;
  background-color: #f1f1f1; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

p, .p, pre code {
  margin: 0 0 1rem; }

a {
  color: #22a; }

a:hover {
  color: #222; }

a:visited {
  color: #a2a; }

blockquote {
  padding-left: 0.5rem;
  border-left: 0.3rem solid #ccc;
  margin-left: 1.3rem; }

/* variables */
/* mixins */
/* layout */
.container,
main nav,
main article,
main section {
  max-width: 50rem;
  margin: 0 auto 1rem; }

header {
  padding: 1rem; }

footer {
  padding: 1rem; }

main {
  padding: 1rem;
  background-color: #ffffff; }

main nav {
  margin-bottom: 1rem; }

code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2rem; }

img {
  display: block;
  max-width: 100%; }

li {
  margin-left: 1rem; }

p {
  line-height: 1.4em; }

pre code {
  display: block;
  border: none; }

section {
  border-bottom: 1px #ccc solid; }

section:last-child {
  border-bottom: none; }

section ul li {
  list-style-type: none;
  margin-bottom: 1rem; }

.copyright {
  display: inline; }

.further {
  display: inline; }
  .further li {
    list-style-type: none;
    display: inline;
    border-left: 0.1em solid #aaa;
    padding-left: 0.5em;
    margin-left: 1em; }

.subtitle,
.supertitle {
  font-size: 0.9em;
  font-family: sans-serif;
  color: #666; }

.subtitle {
  margin-bottom: 1rem; }

/* typography */
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #222; }

header h1 {
  font-size: 3rem;
  text-align: right; }

article h1 {
  font-size: 2rem; }

section h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

pre.terminal code {
  background-color: #333; }
